Package: com.zcx.ioswechatfakelocation
Name: iOSWeChatFakeLocation
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zcx
Author: zcx
Section: Tweaks
